/* Customizations to the designer theme should be defined here */
@import 'primeflex/primeflex.scss';

/* resets */
* {
  box-sizing: border-box;
}
:root {
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --section-background-color: linear-gradient(
    to bottom left,
    hsla(0, 3%, 6%, 0.582),
    rgba(12, 8, 24, 0.904)
  );
  --image-gradient: linear-gradient(
    to bottom left,
    hsla(0, 3%, 6%, 0.678),
    rgba(12, 10, 22, 0.863)
  );
}
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  flex-grow: 1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(270deg, #1b1429, #140f23);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
i {
  margin: 0;
  padding: 0;
}

/* override primevue components */
//menubar
.p-menubar {
  backdrop-filter: blur(15px);
  background-color: #1b1a2ea9;
  border: 1px solid #1b1a2ea9;
}
.p-menubar .p-menubar-root-list {
  margin-left: auto;
}
.p-menubar-button {
  margin-left: auto;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  //   border: 1px solid transparent;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
  font-size: 1.25rem;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: white;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: white;
  background: transparent;
  //   border-bottom: 1px solid red;
}
//button
.p-button.p-button-icon-only {
  padding: 1.2rem;
  background-color: white;
  color: #87209e;
}

/* third party components */
//typewriter
.is-typed span.cursor {
  display: inline-block;
  width: 3px;
  background-color: $primaryColor;
  animation: blink 1s infinite;
}
@keyframes blink {
  49% {
    background-color: $primaryColor;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}

/* custom */
.p-menubar.navbar-custom {
  position: fixed;
  width: 100%;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
}
.p-button.p-button-icon-only.button-icon-only-dark-custom {
  background-color: transparent;
  color: white;
}

.wave-custom {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
